<mat-card class="employee">
  <mat-card-header>
    <mat-card-title class="employee-name">{{employee.lastName}} {{employee.firstName}}, {{employee.position}}</mat-card-title>
    <mat-card-subtitle class="employee-subtitle">Employee ID: {{employee.id}} Direct Reports: {{count}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <app-direct-report-list [dirReps]="employee.directReports" [overseer]="employee.id"></app-direct-report-list>
  </mat-card-content>
</mat-card>
