@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.page-title {
  text-align: center;
  color: #0165ba;
}

*{
  font-family: "Poppins", sans-serif;
}

